<%= simple_form_for(@shirt) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :inscription %>
    <%= f.input :size %>
    <%= f.input :color %>
    <%= f.input :price %>
    <%= f.input :availability %>

    <%= f.input :image %>
    <%= f.input :resource %>  
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
