<div class="container">
<div class="row">

<div class="col-md-6">
<%= image_tag "shirt1.jpg", class: "img-responsive" %>
</div>

<div class="col-md-6">
  <ul class="list-group">
  <li class="list-group-item"><%= @shirt.inscription %></li>
  <li class="list-group-item"><%= @shirt.color %></li>
  <li class="list-group-item"><%= @shirt.size %></li>
  <li class="list-group-item"><%= @shirt.price.to_f / 100 %> zlociszy</li>
  <li class="list-group-item"><%= link_to "edytowanko", edit_shirt_path(@shirt)  %>
   | <%= link_to "nazad", shirt_path  %> | <%= link_to "nastepna", shirt_path.next  %></li>
</ul>


</div>

</div>
</div>
